<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Header Parser API</title>
</head>
<body>
  

  


  <div class="container">
    <header>
      <h1>Header Parser Microservice API</h1>
      <h2>Coded by
        <a href="http://www.keithrodriguez.me/">Keith Rodriguez</a>
      </h2>
      <p>My project for the
        <a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice">Header Parser Microservice challenge</a> as part of the curriculum for the Back End Development Certification on
        <a href="https://www.freecodecamp.org">Free Code Camp</a>.</p>
      <p>View the
        <a href="https://github.com/keithro/header-parser">source code</a> for this project.</p>
    </header>
    <main>
      <h3>Example Usage</h3>
        <p>Get header info from the API from <a href="/api">API</a></p>
      <h3>Example Output</h3>
      <div class="code-block">
        <p>
          <code>{ ipaddress: "255.89.31.226", language: "en-US", software: "Macintosh; Intel Mac OS X 10_13_3" }</code>
        </p>
      </div>
    </main>
  </div>
</body>
</html>